.main {
  width: 375px;
  height: 779px;
  background-image: url("img/Contact_me.png");
  background-repeat: no-repeat;
}

.main_container {
  background-image: url("img/contact_shapes.png");
  position: absolute;
  width: 265px;
  height: 709.17px;
  left: 110px;
  margin-top: 21px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}