.main {
  width: 375px;
  height: 779px;
  background-image: url("img/Contact_me.png");
  /* background-repeat: no-repeat; */
  /* background-color: #6070ff; */
  /* border: 1px solid red; */
  position: relative;
  /* border-top-left-radius: 10px; */
  }

.main_container {
  background-image: url("img/contact_shapes.png");
  /* border-top-left-radius: 10px; */
   /* position: absolute; */
  width: 265px;
  height: 709.17px;
  /* left: 110px; */
  margin-top: 50px;
  margin-left: 110px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* display: flex;  */
  /* flex-direction: column; */
  /* border: 1px solid black;  */
  position: absolute;
}

.contact-me {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.card {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  
}

.text-content {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #EBEBFF;
  margin-bottom: 60px;
  padding: 0 24px;
}

.name, .email, .message {
  border-radius: 8px;
  border: 1px solid #CFD8DC;
  width: 327px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

#name, #email {
  height:  48px;
}

#message {
  height: 170px;
}

.button {
  height: 48px;
  width: 140px;
  color: #6070ff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-left: 24px;
  border-radius: 5px;
}

.button:hover {
  background-color: #6070ff;
  color: #ffffff;
}

::placeholder { 
  color: #858b94;
  font-size: 18px;
  font-weight: normal;
  font-family: Poppins;
} 
